{%- comment -%}
  Renders Shop the Look (filtering and sorting)

  Accepts:
  - data: {Object} Block

  Usage:
  In your liquid template file, copy the following line
  {% render 'shop-the-look' with data: data, class %}
{%- endcomment -%}
{% liquid
    assign title = data.title | default: 'Shop             the                                                    look' 
    assign collection = data.collection
    assign products_count = collection.products_count
    assign products = collection.products
%}

{%- if products_count -%}
  <div
    class="look {{ order | escape }}">
    <div
      class="look__container">
      <div
        class="look__grid">
        <div
          class="look__grid-item look__products-container">
          <div
            class="look__heading">
            {%- if title != blank -%}
              <h2
                class="look__heading-title">{{ title }}</h2>
            {%- endif -%}
          </div>
          <div
            class="look__products">
            {%- for product in products limit: 2 -%}
              {% liquid
                    if forloop.index == 1
                        assign image_ratio = 'portrait'
                    else
                        assign image_ratio = 'landscape'
                    endif
                %}
              {% render 'card-product'
               , card_product: product,
               media_aspect_ratio: image_ratio,
               image_shape: false,
               show_secondary_image: false,
               show_vendor: false,
               show_rating: false,
               show_quick_add: false,
               section_id: product.id,
               index: forloop.index,
               class: 'look'
               animations_reveal_on_scroll: true %}
            {%- endfor -%}
          </div>
          <div
            class="look__book-end"></div>
        </div>
        <div
          class="look__grid-item">
          <div
            class="look__collection-img_container">
            <img
              srcset="{% if collection.featured_image.width >= 288 %}
              {{ collection.featured_image | image_url: width: 288 }} 288w,{% endif %}
            {% if collection.featured_image.width >= 576 %}
              {{ collection.featured_image | image_url: width: 576 }} 576w,{% endif %}
            {% if collection.featured_image.width >= 550 %}
              {{ collection.featured_image | image_url: width: 550 }} 550w,{% endif %}
            {% if collection.featured_image.width >= 1100 %}
              {{ collection.featured_image | image_url: width: 1100 }} 1100w,{% endif %}
            {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w"
            src="{{ collection.featured_image | image_url: width: 820, height: 645 }}"
            loading="lazy"
            width="820"
            height="{{ 645 | divided_by: collection.featured_image.aspect_ratio }}"
            alt="{{ collection.featured_image.alt | escape }}">
          </div>
        </div>

      </div>


    </div>
  </div>
{%- endif -%}